/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
margin: 10px;
}

.LightPink {
display: block;	
background: #FFB6C1;
width: 33%;
height: 150px;
float: left;
}

.LightGray {
display: block;	
background: #D3D3D3;
width: 33%;
height: 150px;
float: left;
}

.Moccasin {
display: block;	
background: #FFE4B5;
width: 33%;
height: 150px;
float: left;
}

.clear {
clear: left;
}

.BlanchedAlmond {
display: block;	
background: #FFEBCD;
width: 66%;
height: 150px;
float: left;
}

.trio {
display: block;	
width: 33%;
height: 150px;
float: left;
}

.firststrip {
height: 50px;
background: #FFB6C1;
}

.secondstrip {
height: 50px;
background: #D3D3D3;
}

.thirdstrip {
height: 50px;
background: #FFE4B5;
}

.twin {
display: block;	
width: 33%;
height: 150px;
float: left;
}

.PowderBlue {
height: 75px;
background: #B0E0E6;
}

.Skyblue {
height: 75px;
background: #87CEEB;
}

.blue {
display: block;	
background: #87CEEB;
width: 33%;
height: 150px;
float: left;
}

.quadruple {
display: block;	
width: 33%;
height: 150px;
float: left;
}

.one {
height: 37.5px;
background: #FFE4B5;
}

.two {
height: 37.5px;
background: #D3D3D3;
}